* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "bebas neue", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 12px;
}

.card {
  width: 30rem;
  margin: 2rem;
  border: 2px solid #444;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

img {
  width: 100%;
  display: block;
  color: rgba(244, 39, 39, 0.779);
}

.skillsContainer {
  display: flex;
  padding: 0.3rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.info {
  padding: 0.4rem;
}

h1 {
  color: #444;
}

.skillContainer {
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  padding: 0.2rem 0.8rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  width: 3rem;
  text-align: center;
  height: 1.5rem;
}
